@import url('https://fonts.googleapis.com/css2?family=Nobile&family=Signika:wght@500&display=swap');

/* General Styling */
*{
    margin: 0;
    padding: 0;
    /*border: solid 1px black;8*/
}

html, body{
    height: 100%;
    width: 100%;
    font-family: Nobile, sans-serif;
    background-color: #ddbea9;
}

h1, h2{
    font-family: Signika, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: black;
}

a{
    text-decoration: none;
    color: #FFF;
}


.grid-container{
    display: grid;
    grid-template-rows: 75px 600px 75px 600px 75px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                         "hero hero hero"
                         "ethos_head ethos_head ethos_head"
                        "ethos ethos ethos"
                        "footer footer footer";                        
}

/* Header and Nav bar Styling */

.header-flexbox-container{
    display: flex;
    flex-wrap: wrap;
    height: 75px;
    width: 100%;
    grid-area: header;
    justify-content: flex-start;
    align-items: center;
    background-color: #6b705c;
    border: 1px solid black;
}

.logo{
    margin-left: 37px;
    flex-grow: 1;
}

.nav-list li{
    text-transform: uppercase;
    list-style: none;
    display: inline-flex;
    margin-right: 75px;
}

/*Hero image and overlay styling*/

.hero-image-container{
    display: flex;
    height: 100%;
    width: 100%;
    grid-area: hero;
    border: solid 1px black;
    align-items: center;
}

.hero-image{
    background-image: url(../images/hero-banner-1920_600.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
}

.hero-image-overlay{
    background-color: rgba(255, 232, 214, 0.7);
    border-radius: 5%;
    height: auto;
    width: auto;
    margin-left: 1em;
    margin-top: 10em;
    position: absolute;
}

.hero-image-overlay > h2{
    padding: 1em;
    text-align: center;
}

/*ETHOS SECTION*/
.ethos-heading{
    grid-area: ethos_head;
    height: 75px;
    width: 100%;
    font-size: 150%;
    background-color:#b7b7a4;
    text-align: center;
    line-height: 75px;
}


.ethos-flexbox-container{
    display: flex;
    flex-wrap: wrap;
    grid-area: ethos;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.ethos-card{
    background-color: blue;
    height: 500px;
    width: 500px;
    border-radius: 5%;
}

.ethos-card-image{
    background-color: teal;
    height: 400px;
    margin-bottom: 15px;
}

.card-image-1{
    background-image: url(../images/card-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;


} 

.card-image-2{
    background-image: url(../images/card-image-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;

}

.card-image-3{
    background-image: url(../images/card-image-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;

}

/*change class, confusing with the ethos heading introduction*/

/* FOOTER */
.footer-flexbox-container{
    display: flex;
    height: 75px;
    width: 100%;
    grid-area: footer;
    background-color: #6b705c;
    color: #FFF;
    justify-content: space-evenly;
}