@import url('https://fonts.googleapis.com/css2?family=Nobile&family=Signika:wght@500&display=swap');

/*GENERAL STYLING*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid 1px black
}

html, body{
    font-family: Nobile, sans-serif;
    background-color: #ddbea9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2{
    font-family: Signika, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
}

a{
    text-decoration: none;
    color: #FFF;
}

a:hover{
    color: black;
    cursor: pointer;
    transform: scaleX(1.02);
    transition: all 1s ease;
    /*background-color: #ddbea9;*/
    border-radius: 10%;
}

ul{
    list-style: none;
}

main{
    width: 100%;
    margin: 0 auto;
}

/*HEADER AND NAV BAR*/
header{
    background-color: #6b705c;
}

.header-flexbox-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 75px;
    margin: 1em 0 1em 1em;
}

/*
.logo{
    display: flex;
    padding-left: 37px;
}*/


.nav-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5em;
}

.nav-item{
    font-size: 125%;
    font-weight: bold;
    padding: 0.5em 0;
}


/*HERO IMAGE AND TEXT OVERLAY*/
.hero-image-container{
    display: flex;
    flex-direction: column-reverse;
    height: 300px;
    width: 100%;
    border: solid 1px black;
}

.hero-image{
    background-image: url(../images/hero-banner-1920_600.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    position: relative;
}

.hero-image-overlay{
    background-color: rgba(255, 232, 214, 0.7);
    border-radius: 5%;
    height: auto;
    width: 70vw;
    position: absolute;
    font-size: 70%;
    margin-bottom: 2em;
    margin-left: 1em;
}

.hero-image-overlay > h2{
    padding: 0.5em;
    text-align: center;
    letter-spacing: 2px;
}

/*ABOUT US SECTION*/
.about-us-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100%;
}

.about-us-video{
    border-radius: 5%;
    margin-top: 1em;
    width: 90vw;
}

.about-us-content{
    height: auto;
    margin-top: 1.5em;
    width: 80vw;
    text-align: center;
}

.about-us-content > h2{
    margin-bottom: 1em;
}

/*ETHOS-HERO PAGE DIVIDER*/
.content-divider{
    height: 1em;
    width: 100%;
    background-color:#b7b7a4;
    border: 1px solid black;
}


/*ETHOS SECTION*/
.ethos-flexbox-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2em 0;
    height: auto;
    width: 100%;
}

.ethos-row-1{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ethos-row-2{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ethos-card{
    background-color: #ffe8d6;
    height: auto;
    width: 90vw;
    border-radius: 5% 5% 0 0;
    margin-top: 1.5em;
    box-shadow: 6px 6px 6px black;
}

.ethos-card > h3{
    padding: 0.3em 1em;
}

.ethos-card > p{
    padding: 0.3em 1em;
}

.ethos-card-image{
    height: 400px;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 5% 5% 0 0;
}

.card-image-1{
    background-image: url(../images/card-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

.card-image-2{
    background-image: url(../images/card-image-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-image-3{
    background-image: url(../images/card-image-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-image-3{
    background-image: url(../images/card-image-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ethos-card:hover{
    background-color: #a5a58d;
    cursor: pointer;
    color: #FFF;
    transform: scaleX(1.02);
    transition: all 1s ease;
}


/* CONTACT FORM */
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100vw;
    padding: 50px;
    background-color: ddbea9;
    font-size: 100%;
    border-radius: 10%;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
}

.name-wrapper{
    text-align: center;
    width: 100%;
}

.name-wrapper > input{
    width: 100%;
}

.email-wrapper{
    text-align: center;
    width: 100%;
}

.email-wrapper > input{
    width: 100%;
}

.phone-wrapper{
    text-align: center;
    width: 100%;
}

.phone-wrapper > input{
    width: 100%;
}

.size-wrapper{
    margin-top: 20px;
    text-align: center;
    font-size: 125%
}

.size-wrapper > select{
    font-size: 75%;
    margin-top: 10px;
    box-shadow: 0 0 5px 5px grey;
    padding: 5px;

}

.extra-info{
    margin-top: 40px;
}

span{
    font-size: 125%;
}

textarea{
    height: 200px;
    width: 100%;
    color: black;
    box-shadow: 0 0 5px 5px grey;
    font-size: 125%;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5%;
}

input{
    margin-bottom: 20px;
    border-radius: 5%;
    box-shadow: 0 0 5px 5px grey;
    padding: 20px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;
    justify-content: space-around;
}

.buttons input{
    width: 70%;
}

/*GOOGLE MAPS*/
.google-map-container{
    width: 100%;
}

.google-map{
    width: 100%;
}

/*PRICE LIST*/
.price-list-outer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto 0;
}

.price-list td, th{
    width: 50%;
    text-align: center;
}

.price-list th{
    padding: 1em;
    font-size: 150%;
}

.price-list td{
    padding: 1em 1em;
    font-size: 125%;
    font-weight: bold;
}

.alt-color{
    background-color: tan;
}

/*change class, confusing with the ethos heading introduction*/

/* FOOTER */

/*makes footer stick to bottom of page*/
footer{
    background-color: #6b705c;
    margin-top: auto;
}

.footer-flexbox-container{
    display: flex;
    flex-direction: column;
    min-height: 150px;
    width: 100%;
    font-size: 125%;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

.footer-content{
    color: #FFF;
    margin: 20px 0;
}

.social-media-list{
    order: -1;
}

.media-links{
    display: inline-flex;
}

.list-item{
    font-size: 150%;
    padding: 0 10px;
}

.company-address{
    width: 50vw;
}


/*MEDIA QUERY FOR SMALL SCREENS 500px and below*/

@media screen and (min-width: 500px) {
    .header-flexbox-container{
        display: flex;
        align-items: center;
    }

    .ethos-card{
        width: 90vw;
    }

    .ethos-image{
        height: 70;
    }



    @media screen and (min-width: 768px) {
        .ethos-flexbox-container > h2{
        }

        .ethos-card{
            width: 45vw;
        }

    }


    @media screen and (min-width: 1024px) {

        .header-flexbox-container{
            flex-direction: row;
            justify-content: space-around;
        }

        .ethos-card{
            width: 45vw;
        }


        .nav-list{
            flex-direction: row;
        }

        .nav-item{
            padding: 0 20px;
        }

        .footer-flexbox-container{
            flex-direction: row;
            justify-content: space-around;
        }

        .social-media-list{
            order: 0;
        }

        .footer-content{
            width: 30vw;
        }

        @media screen and (min-width: 1440px) {
            .ethos-card{
                width: 40vw;
                height: auto
            }
    }